extends base

block extraHead
    link(rel='stylesheet', href='/css/oneDemande.css')

block content
    main
        section.user-details
            h2 Modify Supplier Details
                table.user-table
                    tbody
                        tr
                            td.label Medicament Name:
                            td.user-detail
                                input#medicamentName.form__input(type='text', name='medicamentName', value=order.medicamentName)
                        tr
                            td.label Quantity:
                            td.user-detail
                                input#qte.form__input(type='text', name='lastName', value=order.qte)
                        tr
                            .form__group
                                label.form__label(for='typedecompte') Supplier
                                select#supplier.form__input(required)
                                    option(value='-') -
                                    each supplier in suppliers
                                        option(value=`${supplier._id}`)= supplier.emailAddress

            .user-actions
                button.btn.btn--accept MODIFY ORDER
            script(src="/js/deleteModifyOrder.js")

