extends base 

block extraHead
    link(rel='stylesheet', href='/css/oneDemande.css')

block content
    main
        section.user-details
            each medicament in medicaments
                div.medicament
                    h2 Medicament Details
                        table.user-table
                            tbody
                                tr
                                    td.label Medicament Name:
                                    td.user-detail
                                        input#name.form__input(type='text', name='name' value=`${medicament.split(',')[0].split('=')[1]}`)
                                tr
                                    td.label Quantity:
                                    td.user-detail
                                        input#qte.form__input(type='text', name='qte', value=`${medicament.split(',')[1].split('=')[1]}`)

            .user-actions
                button.btn.btn--accept CREATE A SALE
            script(src="/js/createSale.js")

